.content-offcanvas {
  position: fixed;
  width: 35rem !important;
  top: calc($navbar-top-height + 1px) !important;
  height: calc(100vh - ($navbar-top-height + $footer-height)) !important;
  @include media-breakpoint-up(sm) {
    background-position: 100% !important;
  }
}

.offcanvas-backdrop-transparent {
  ~ {
    .offcanvas-backdrop {
      opacity: 0;
    }
  }
}

.phoenix-offcanvas-container {
  position: relative;
  overflow: hidden;
}

.phoenix-offcanvas {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 10;
  transform: translateX(-100%);
  max-width: 100%;
  background-color: var(--#{$prefix}body-highlight-bg);
  &.phoenix-offcanvas-fixed {
    position: fixed;
    transform: translateX(-100%);
  }
  &.phoenix-offcanvas-start {
    left: 0;
    transform: translateX(-100%);
  }
  &.phoenix-offcanvas-end {
    transform: translateX(100%);
    right: 0;
  }
  &.phoenix-offcanvas-top {
    transform: translateY(-100%);
  }
  &.phoenix-offcanvas-bottom {
    transform: translateY(100%);
  }
  &.show {
    transform: none;
    ~ {
      .phoenix-offcanvas-backdrop {
        position: fixed;
        top: var(--#{$prefix}navbar-top-height);
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba($black, $alpha: 0.1);
        z-index: 8;
      }
    }
  }
  &.phoenix-offcanvas-content {
    top: var(--#{$prefix}navbar-top-height);
  }
}
.faq-offcanvas {
  top: var(--#{$prefix}navbar-top-height);
}

// Filter offcanvas

.phoenix-offcanvas-filter {
  max-width: 300px;
  top: var(--#{$prefix}navbar-top-height);
  height: calc(100vh - 5rem);
  padding: map-get($spacers, 5);
  @include media-breakpoint-up(lg) {
    position: sticky !important;
    top: 1rem !important;
    padding: 0 0 0 0.5rem !important;
    transform: none !important;
    height: calc(100vh - 2rem);
    padding-left: 4px;
  }
}

.phoenix-offcanvas-filter-xl{
  width: 300px;
  top: var(--#{$prefix}navbar-top-height);
  padding: map-get($spacers, 4) map-get($spacers, 4) 0;
  z-index: 9999;
  @include media-breakpoint-up(xl) {
    width: 250px;
    position: sticky !important;
    top: 1rem !important;
    padding: 0 0 0 0.5rem !important;
    transform: none !important;
    height: 100vh;
    z-index: 10;
  }
}

// room search offcanvas
.phoenix-room-filter-offcanvas{
  
  width: 300px;
  padding-bottom: 0 !important;
  background-color: var(--#{$prefix}body-bg) !important;
  @include media-breakpoint-up(xl) {
    width: 250px !important;
  }
}